/* ul{
    border-left: 5px solid blue;
    background-color: gray;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
    color: bisque;
}*/
ul li{
    background-color: gray;
    color: aliceblue;
    padding: 20px;
}
