h1{
    color: green;
    letter-spacing: 20px;
    word-spacing: 50px;
}
h2{
    text-decoration: overline;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
}
p{
    text-indent: 50px;
    text-align: center;
}
img{
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 68%, 52% 69%, 53% 99%, 20% 90%, 0% 70%, 0% 35%, 50% 33%);
    width: 400px;
    height: auto;
}
.audi{
    clip-path: polygon(50% 0%, 68% 25%, 100% 46%, 100% 47%, 68% 79%, 53% 99%, 32% 78%, 0 48%, 0 46%, 31% 26%);
    width: 200px;
    height: auto;
}
#cursiveText{
    font-family: cursive;
    font-weight: bold;
}
#italicText{
    font-family: italic;
}
#obliqueText{
    font-family: oblique;
    font-weight: lighter;
    font-size: xx-large;
}
a{
    color:blue;
}
a:hover{
    color: green;
}
a:active{
    color: blueviolet;
}
/* a:visited{ 
    color: aqua;
}*/

